<div class="home">
  <div class="card">
    <div class="card-header">
      Choose your game
    </div>
    <div class="btn-group btn-group-vertical">
      <a class="btn btn-primary btn-lg text-left" href="/testGame">Test Game</a>
      <a class="btn btn-primary btn-lg text-left" href="/testGame">Test Game</a>
      <a class="btn btn-primary btn-lg text-left" href="/testGame">Test Game</a>
      <a class="btn btn-primary btn-lg text-left" href="/testGame">Test Game</a>
      <a class="btn btn-primary btn-lg text-left" href="/testGame">Test Game</a>
    </div>
  </div>
</div>
